{% extends 'base.html' %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block body %}
<body class="login">
	<div id="login">
		<h1><a href="/" title="Powered by openIPAM" onfocus="this.blur()">openIPAM</a></h1>
		<form name="login" action="/login/" method="post">
			{% if login_message %}
				<p>{{ login_message }}</p>
			{% endif %}
			<p>
				<label>Username:<br />
				<input type="text" name="username" id="username" class="text" value="" size="20" /></label>
			</p>
			<p>
				<label>Password:<br />
				<input type="password" name="password" class="text" value="" size="20" /></label>
			</p>
			<p class="submit">
				<input type="submit" value="Login &raquo;" />
			</p>
		</form>
	</div>
	<script type="text/javascript">
		function focusit() {
			document.getElementById('username').focus();
		}
		window.onload = focusit;
	</script>
</body>
{% endblock %}
