<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}openIPAM{% endblock %}</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
	{% block head %}{% endblock %}
</head>
<body>
	{% block header %}
	{% endblock %}
	
	{% block inner %}
	{% endblock %}
	
	{% block scripts %}{% endblock %}
</body>
</html>
