#set action=' action="/hosts/add_attribute/?mac=$host.clean_mac"' if not $wrap else ''
<div$action class="add_attribute" id="add_attribute_$host.clean_mac">
	<form class="add_attribute_form" action="/hosts/add_attribute/?mac=$host.clean_mac" method="POST">
		<input type="hidden" name="wrap" value="$wrap"/>
		<select class="add_attribute_type_id" name="attr_type_id">
			<option value="">Select type</option>
		#for attr_type in $valid_attributes:
			<!-- $attr_type -->
			#set classname = 'structured' if $attr_type.structured else 'freeform'
			<option class="$classname" value="$attr_type.id">$attr_type.name - $attr_type.description</option>
		#end for
		</select>
		<input type="text" class="add_attribute_fv" name="freeform_value"/>
		<select class="add_attribute_sv" name="structured_value">
			<option value="">...</option>
		</select>
		#if $wrap:
		<input type="submit" name="submit" value="Submit"/>
		#end if
	</form>
</div>

