<div id="searchHelp" class="hidden">
	<p>Search for hostnames, IP addresses, MAC addresses, or networks (in CIDR notation).</p>
	<strong>For advanced searches...</strong>
	<p>Try these special query types:<p>
	<pre>user:<em>username here</em></pre>
</div>

<div style="float: right; width: 320px;">
	<img src="/images/interface/loader.gif" id="loaderIcon" style="float:left; padding-top:8px; display: none" />
	<form name="search" class="search" method="get" action="/hosts/search/">
			<div class="submit">
				<a href="javascript:;" id="searchHelpIcon"><img src="/images/interface/question.gif" /></a>
				<input type="text" class="text" id="searchBox" name="q" style="width: 200px" value="" />
				<input type="submit" id="submitSearch" value="Search" />
			</div>
	</form>
</div>

<h1>Hosts</h1>
<a href="/hosts/search/?expiring=60" />Show my hosts expiring within 60 days</a><br /><br />

#if 'message' in $template_keys:
	<div id="localMessage" class="message">
		$message
	</div>
#end if

#if 'show_search_here' in $template_keys:
	<img style="float: right; margin-right: 350px; margin-top: 6px" src="/images/interface/search_here.png" />
	<div class="goodMessage">
		What hosts would you like to see?
	</div>
#end if

#if 'hosts' in $template_keys:
	#if $hosts:
		<form id="multiActionForm" name="multiactionForm" method="post" action="/hosts/multiaction/">
		<table class="infoTable">
			<thead>
				<tr>
					<th style="width: 20px">&nbsp;</th>
					<th style="width: 30%">Hostname</th>
					<th>Ethernet Address</th>
					<th>Expires</th>
					<th style="text-align: right">
						<input type="checkbox" name="selectAll" id="selectAll" />
					</th>
				</tr>
			</thead>
			<tbody>
		#for $host in $hosts:
				<tr class="info" id="hostRow_$host.clean_mac">
					<td>
						<a class="toggleHostFlyout" name="$host.clean_mac" href="javascript:;">
						<img id="arrow$host.clean_mac" width="19px" height="19px" src="/images/interface/transparent.png" class="expand" />
					</td>
					<td><a href="javascript:;" id="hostLink" class="toggleHostFlyout" name="$host.clean_mac">$host.hostname</a></td>
					<td>$host.mac</td>
					<td>$host.expires</td>
					<td class="actions">
					#if $host.has_permissions:
						<a href="/dns/search/?q=$host.hostname">Manage DNS</a> | 
						<a href="javascript:;" class="delHost" name="$host.clean_mac">Delete</a> | 
						<a href="/hosts/edit/?macaddr=$host.clean_mac">Edit</a> |
						<input type="checkbox" name="multihosts" value="$host.clean_mac"/>
					#end if
					</td>
				</tr>
				<tr class="infoExpand">
					<td colspan="5">
						<div id="hostInfo$host.clean_mac" class="hiddenInfo">
							<input type="hidden" class="isLoaded" name="False" />
							<div class="innerHostInfo" style="padding: 10px;">
								<strong>Description:</strong> $host.description<br />
							</div>
						</div>
					</td>
				</tr>
		#end for 
			</tbody>
		</table>
		
		<div class="pageLinks">
			#set temp_text = []
			#set search_str = '/?'
			#if 'search' in $template_keys:
				#set search_str = '/search/?q=%s&' % $search
			#end if
			#if $page == 0:
				#silent	temp_text.append("&#171; Previous page &nbsp;&nbsp;")
			#else:
				#silent temp_text.append('<a href="/hosts%spage=%s">&#171; Previous page</a> &nbsp;&nbsp;' % ($search_str, $page - 1))
			#end if
			#silent temp_text.append('<a href="/hosts%spage=%s">Next page &raquo;</a>' % ($search_str, $page + 1))
			
			#echo ''.join(temp_text)
		</div>

		<select name="multiaction">
			<option value="">Choose an action...</option>
			##<option value="owners">Assign owners to selected hosts</option>
			<option value="delete">Delete selected hosts</option>
			<option value="renew">Renew selected hosts</option>
		</select>
		<input type="hidden" name="multiurl" value="$url" />
		<input type="submit" id="submitMultiAction" value="Go" />
	</form>
	#else:
		<p class="noResults">
			No hosts found.<br />
			#if 'show_all_hosts' in $template_keys and not $show_all_hosts:
				You are only searching your hosts, would you like to <a href="/hosts/?show_all">show all hosts</a> and search again?
			#end if
		</p>
	#end if
#end if
