@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 * (en) Template for designing a screen layout
 * (de) Gestaltungsvorlage f�r die Erstellung eines Screenlayouts
 *
 * @file basemod.css
 * @creator YAML Builder v0.3 Preview
 * @link http://builder.yaml.de
 */

@media all
{
 /**
  * Design of the Basic Layout
  */

  /* Page margins and background */
body {
}
	
ul, ol, dl {
	margin:0 0 0em 1em;
}

  /* Layout: Width, Background, Border */
#page_margins {
	width: auto;
	min-width: 740px;
	max-width: 100%;
}

#page {
	
}

#header {
	background: black;
	padding: 0pt 0pt 5px 10pt;
}

#topnav {
	background: black;
	position:static;
	padding-right: 5px;
}

#nav {
	
}

#nav_main {
	background:#C0C0C0 url(/yaml/navigation/images/shiny_buttons/background.gif) repeat-x scroll;
}

#nav_main ul {
	margin: 0pt 0pt 0pt 10px;
}

#nav_main ul.rightbar {
	float: right;
}

#nav_main ul li a, #nav_main ul li strong {
	padding: 0.7em 0.6em 0.7em 0.6em;
}

#footer {
	text-align: right;
	background: #eeeeee;
	padding: 10px;
}

#footer a {
	color: #AAAAAA;
}

#footer a:focus, #footer a:hover, #footer a:active {
	color: #555555;
}


 /**
  * Formatting of the Content Area | Formatierung der Inhaltsbereichs
  *
  * @section layout-main
  */

#col1 {
	float: left;
	width: 20%;
}


#col2 {
	display:none
}

#col3 {
	width: auto;
	margin: 0 0 0 20%;
	padding: 10px;
}

#col1_content {
	padding: 0 10px 0 20px;
}
#col3_content {
	padding: 0 20px 0 10px;
}
	
	/* 1. Ebene */
	
	#submenu li#active,
	#submenu li strong {
		background-color:#aa1124;
		color: #fff; 
		padding: 0px 10% 0px 0px;
	}
	#submenu li#active a,
	#submenu li strong { 
		background-color:#aa1124;
		color: #fff; 
		border: 0;
		width: 100%;
		font-weight: bold; 
	}

/* Sub-navigation menu re-coloring */

	#submenu li a { background-color:#fff; color: #444; }
	#submenu li a:focus,
	#submenu li a:hover,
	#submenu li a:active { background-color:#aa1124; color: #fff; }

	/* 2. Ebene */	

	#submenu li ul li a { background-color:#f4f7f4; color: #666; }
	#submenu li ul li a:focus,
	#submenu li ul li a:hover,
	#submenu li ul li a:active { background-color:#aa1124; color: #fff; }

	/* 3. Ebene */	

	#submenu li ul li ul li a { background-color:#edf0ed; color: #333; }
	#submenu li ul li ul li a:focus,
	#submenu li ul li ul li a:hover,
	#submenu li ul li ul li a:active { background-color:#aa1124; color: #fff; }
	
	/* 4. Ebene */

	#submenu li ul li ul li ul li a { background-color:#ffffff; color: #666; }
	#submenu li ul li ul li ul li a:focus,
	#submenu li ul li ul li ul li a:hover,
	#submenu li ul li ul li ul li a:active { background-color:#aa1124; color: #fff; }
	
/* Options submenu toggles */


#submenu.options {
	width: 60%;
	margin: 2.4em auto;	
}
	
#submenu.options li#active,
#submenu.options li strong {
	background-color:#aa1124;
	color: #fff; 
	padding: 0px 10% 0px 0px;
}
#submenu.options li#active a,
#submenu.options li strong { 
	background-color:#444;
	color: #fff; 
	border: 0;
	width: 100%;
	font-weight: bold; 
}

/* Sub-navigation menu re-coloring */

#submenu.options li a { background-color:#eee; color: #444; }
#submenu.options li a:focus,
#submenu.options li a:hover,
#submenu.options li a:active { background-color:#fefefe; color: #444; }
	
	
 /**
  * Design of Additional Layout Elements | Gestaltung weiterer Layoutelemente
  *
  * @section layout-misc
  */
  
#error {
	padding: 10px;
	background-color: #F8F7D1;
	border: 1px dotted red;
	margin-bottom: 10px;
}
  
/* Button styling */

.submit input,
.submit input:focus,
.button,
.button:focus {
	background:transparent url(/images/interface/fade-butt.png) repeat scroll 0%;
	border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style:double;
	border-width:3px;
	color:#333333;
	padding:0.15em;
}

.submit input:active,
.button:active {
	background:#F4F4F4 none repeat scroll 0%;
	border-color:#999999 rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153);
	border-style:double;
	border-width:3px;
}

.button,
.button:focus {
	padding:0.15em;
}

* html .button {
	padding:0pt;
}
  
input,
textarea,
select,
.submit .text,
.submit .text:active,
.submit .text:focus {
	background:#F4F4F4 none repeat scroll 0%;
	border:1px solid #B2B2B2;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:1px;
	padding:3px;
}

.clear {
	clear:both;
}

div.message {
	width: 99%;
	background: #F9F8D2;
	border: 1px dotted red;
	margin-bottom: 10px;
	padding: 10px;
}

div.successMessage {
	width: 99%;
	background: #dffde6;
	border: 1px dotted green;
	margin-bottom: 10px;
	padding: 10px;
}
	
.hidden {
	display: none;	
}
	
div.goodMessage {
	background: #edf0f7;
	border: 1px dotted #5567a3;
	margin: 0pt auto;
	padding: 15px;
	width: 98%;
}

div.message div ul {
	margin: 0pt 0pt 0em 1em;
}

/* For the overlay picker */
.levitipouter {
	z-index: 50;
}

#overlayPicker {
	width: 100px;
	padding: 10px;
	display: none;
}

#overlayPicker ul {
	border: 1px dotted black;
	list-style-type:none;
	overflow:hidden;
	width:100%;
}

#overlayPicker ul li {
	text-align: center;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
	float:left;
	margin:0pt;
	padding:0pt;
	width:100%;
}

#overlayPicker ul li a { background-color:#fff; color: #444; display: block; }
#overlayPicker ul li a:focus,
#overlayPicker ul li a:hover,
#overlayPicker ul li a:active {background-color:#aa1124; color: #fff; text-decoration: none; }

/* Search field */
form.search {
	float: right;
}
	
div#searchHelp {
	background: #EEEEEE;
	position: absolute;
	right: 320px;
	width: 200px;
	padding: 10px;
	border: 1px dotted #333;	
}

p.noResults {
	padding: 5pt;
	border: 1px dotted black;
	font-size: 105%
}

/* Form Styling */
div#col3 div#col3_content .form {
/*	float: left; */
	width: 100%;
}

form div#element {
	clear: right;
	display: block;
	line-height: 2.5em;
	min-height:25pt;
}
form div#label {
	float:left;
	font-size: 1.2em;
	width:20%;
}
form div#value {
	padding: 0.3em 0pt 0.3em 20%;
	width: auto;
}

form input.text, input.file {
	padding: 3px;
	width: 350px;
}

/* Info Table CSS */

table.infoTable {
    width: 100%;
    border: 1px solid #444444;
}

table.infoTable tr td {
    padding: 3px;
}

table.infoTable tr td.actions {
    text-align: right;
}

table.infoTable tr.info {
    border: 1px dotted #444444;
    border-bottom: none;
}

table.infoTable tr.infoNew {
    border: 1px dotted #444444;
    border-bottom: none;
}

table.infoTable tr.infoExpand {
    padding: 0px;
    margin: 0px;
}

table.infoTable tr.infoExpand td {
    padding: 0px;
    margin: 0px;
}

table.infoTable tr.info td.text-only {
    padding-left: 10px;
}

table.infoTable tr.infoExpand td div.hiddenInfo {
	display: none;
    border: none;
    background: #DDDDDD;
}

table.infoTable tr.info td a img.expand {
	background-image: url(/images/interface/expand.gif);
}

table.infoTable tr.info td a img.contract {
	background-image: url(/images/interface/contract.gif);
}

table.infoTable tr:hover {
	background: #f9f9f9;
}

table.infoTable td.ttl {
	color: #555;
}

[disabled] {
	background-color: #fff;
	border: 1px solid #eee;
	color: #999;
}

/* Button Row on DNS tab */
#buttonRow {
	float: right;
}

/* Login screen */
body.login {
    background-color: #000000;
}
#login {
    background:transparent url(/images/login/login_top.png) no-repeat scroll center top;
    color:#ffffff;
    margin:5em auto 1em;
    padding:35px 0pt 0pt 0pt;
    position:relative;
    width:400px;
}
#login h1 a {
    border-bottom:medium none;
    display:block;
    height:100px;
    margin:0pt auto;
    text-indent:-9999px;
    width:390px;
}
#login h1 a:hover {
	background-color: transparent;
	text-decoration: none;
}
.login a {
    color: #ffffff;
}
#login form {
	background:transparent url(/images/login/login_bottom.png) no-repeat scroll center bottom;
	height:auto !important;
	min-height:200px;
	padding:0pt 50px 15px;
}
#login form .text {
	width: 97%;
}
#login form .submit {
	float: right;
}

div.pageLinks {
	float: right;	
}
	
.dialog {
	display: none;
}

 .ui-dialog,
.ui-dialog {
	background-color: #fff;
}

 .ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #d8d2aa;
	background: #AA1124;
	padding: 0px;
	height: 28px;
	_height: 29px;
}

 .ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

 .ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-titlebar-close {
	width: 16px;
	height: 16px;
	position:absolute;
	top: 8px;
	right: 7px;
	cursor: default;
}

 .ui-dialog .ui-dialog-title,
.ui-dialog .ui-dialog-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

 .ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-content {
	margin: 1.2em;
	color: black;
}

 .ui-dialog .ui-dialog-buttonpane,
.ui-dialog .ui-dialog-buttonpane {
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 100%;
	text-align: right;
}

 .ui-dialog .ui-dialog-buttonpane button,
.ui-dialog .ui-dialog-buttonpane button {
	margin: 6px;
}

}


/* autocomplete */
.ui-autocomplete-results {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-size: 1.1em;
	
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
	
	overflow: hidden;
	z-index: 99999;
}

.ui-autocomplete-results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ui-autocomplete-results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	
	
	border: 1px solid #d3d3d3;
	background: #e6e6e6 0 50% repeat-x;
	font-weight: normal;
	color: #555555 !important;

}

.ui-autocomplete-loading {
	background: white right center no-repeat;
}

.ui-autocomplete-results li.ui-autocomplete-over {
	border: 1px solid #999999;
	background: #dadada 0 50% repeat-x;
	font-weight: normal;
	color: #212121 !important;
}
